* {
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
  
body {
  background-image: url('./Assets/clouds.jpg');
  background-size: cover;
  background-attachment: fixed;
  overflow: hidden;
  box-sizing: border-box;
  width: 100vw;
}

@media screen and (max-width: 770px) {
  body {
    overflow: visible;
  }
}

.weatheroverview {
      max-width: 100vw;
      margin: 0 auto;
      overflow: hidden;
}

.containerCard {
  
  position: absolute;
  top: 1%;
  left: 38%;
  min-width: 19vw;
  margin: 5.5% auto;
  overflow: auto;
  min-height: 65%;
  border: rgb(38, 57, 77);
  padding: 30px;
  border-radius: 5px;
  text-align: center;
  box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
  background-color: transparent;
  overflow: hidden;
}

@media screen and (max-width: 690px) and (min-width: 411px) {
     .containerCard {
       top: 5%;
     }
}

@media screen and (max-width: 410px) {
   .containerCard {
     margin-right: 5%;
   }
}

.weatherOnly {
  border-radius: 10px;
  margin: 0 auto;
  background-color:  rgba(233, 232, 232, 0.1);
  padding: 5% 0;
  min-width: 85%;
  margin-top: 10%;
}

.button {
  position: absolute;
  top: 63%;
  left: 47%; 
  width: 5em;
  height: 5em;
  border-radius: 50%;
  color: black;
  border: solid black 3.5px;
  font-size: 90%;
  background-color: transparent;
  cursor:pointer;
  text-align: center;
  margin: 5% auto;
}

@media screen and (max-width: 1200px) and (min-width: 691px) {
  .button {
    left:18vw;
    top: 1vh;
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
    border: rgb(38, 57, 77);
  }
}

@media screen and (max-width: 818px) and (min-width: 482px) {
    .button {
      box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px; 
      border: rgb(38, 57, 77);
      left: 17vw;
      top: 1vh;
      width: 60px;
      height: 60px;
      font-size: 8px;
    }
}

@media screen and (max-width: 481px) {
  .button {
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px; 
    border: rgb(38, 57, 77);
    left: 11vw;
    top: 1vh;
    width: 60px;
    height: 60px;
    font-size: 8px;
    z-index: 1;
  }
} 


.buttonContainer {
      position: relative;
      max-width: 3vw;
      top: 15vh;
      left: -30vw;
      margin: 0 auto;
      overflow: visible;
      min-height: 70vh;
      padding: 2%;
      border-radius: 5px;
      text-align: center;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-evenly;
} 

@media screen and (max-width: 481px) {
     .buttonContainer {
       top: 8vh;
       left: -35vw;
     }
}

.citybutton {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  color: black;
  box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
  border: rgb(38, 57, 77);
  font-size: 16px;
  background-color: transparent;
  cursor:pointer;
  text-align: center;
}

@media screen and (max-width: 819px) {
  .citybutton {
      width: 60px;
      height: 60px;
      font-size: 8px;
  }
}